<nz-table #ParamTable nzBordered [nzData]="tableData" [nzPageSize]="20" nzSize="middle" [nzScroll]="{x:'1300px'}">
  <thead>
    <tr>
      <th nzWidth="100px" nzLeft="0px"> <a *ngIf="Editing" (click)="AddRoute()">增加</a>
      <span *ngIf="!Editing" >序号</span></th>
      <th *ngFor="let sch of theads;" class="Valuecol" >
        {{sch.Desc}}
      </th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let dat of ParamTable.data; let i=index">
      <td>
        <nz-popconfirm *ngIf="Editing" [nzTitle]="'确定删除?'" (nzOnConfirm)="deleteRoute(i)">
          <a nz-popconfirm>删</a>
        </nz-popconfirm>
        <span *ngIf="!Editing">{{i}}</span>
      </td>
       
      <td *ngFor="let sch of theads; let i=index">
        <input nz-input *ngIf="sch.Scole.type === 'number'" type="number" [max]="sch.Scole.max" [min]="sch.Scole.min" [step]="sch.Scole.step"
          [(ngModel)]="dat[sch.ParmName]" [disabled]="!Editing || !dat.hasOwnProperty(sch.ParmName)">
        
        <nz-select class = "textinput" *ngIf="sch.Scole.type === 'text'" [(ngModel)]="dat[sch.ParmName]" [nzDisabled]="!Editing || !dat.hasOwnProperty(sch.ParmName)">
          <nz-option *ngFor="let item of sch.Scole.valueset" [nzLabel]="item" [nzValue]="item">
          </nz-option>
        </nz-select>
      </td> 
      
    </tr>
  </tbody>
</nz-table>