<input type="file" #fileElem accept=".sdd" style="display:none" (change)="OpenPrj(fileElem.files)">
<input nz-input type="file" #exfileElem accept=".xlsx" style="display:none" (change)="NewSDDFromExcel(modalTemplate, exfileElem)">
<nz-layout>
  <nz-sider [nzWidth]="300" style="background:cornflowerblue">
    <h1 class="sidetext">BiTRACON 800 SDD</h1>
    <nz-list [nzDataSource]="hfileList" [nzHeader]="header" [nzFooter]="Footer" [nzRenderItem]="item">
      <ng-template #header>
        <h2 class="sidetext">历史使用的SDD工程文件</h2>
      </ng-template>
      <ng-template #Footer>
        <h3 class="sidetext">
          <i class="anticon anticon-folder-open"></i>
          <a (click)="fileElem.click()" style="color: #ffffff; font-style:italic">打开其他SDD工程文件</a>
        </h3>
      </ng-template>
      <ng-template #item let-item>
        <nz-list-item>
          <nz-list-item-meta [nzTitle]="nzTitle" [nzDescription]="nzDescription">
            <ng-template #nzTitle>
              <h3 class="sidetext">{{item.FileName}}</h3>
            </ng-template>
            <ng-template #nzDescription>
              <h4 class="sidetext">{{item.Path}}</h4>
            </ng-template>
          </nz-list-item-meta>
        </nz-list-item>
      </ng-template>
    </nz-list>
  </nz-sider>
  <nz-layout>
    <nz-content style="margin: 32px 16px;">
      <div style="display:flex;">
        <div *ngFor="let way of NewSDDways">
          <nz-card nzHoverable style="width:240px; margin-left: 16px;" [nzCover]="coverTemplate" (click)="NewSDD(way, modalTemplate, exfileElem)">
            <nz-card-meta [nzTitle]="way.title" [nzDescription]="way.desc"></nz-card-meta>
          </nz-card>
          <ng-template #coverTemplate>
            <img alt="" [src]="way.icon" />
          </ng-template>

        </div>
      </div>

    </nz-content>
  </nz-layout>
</nz-layout>
<ng-template #modalTemplate>
  <form nz-form>
    <nz-form-item *ngIf="isLoadFromExcel">
      <nz-spin [nzSpinning]="isSpinning">
        <nz-form-label [nzSpan]="6">excel文件</nz-form-label>
        <nz-form-control [nzSpan]="14">
          <nz-form-text>{{excelFile.name}}</nz-form-text>
        </nz-form-control>
      </nz-spin>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzFor="NewPrName">项目名称</nz-form-label>
      <nz-form-control [nzSpan]="14">
        <input nz-input [(ngModel)]="NewPrName" name="NewPrName" required [disabled]="isSpinning">
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzFor="NewPrjWD">工作目录</nz-form-label>
      <nz-form-control [nzSpan]="14">
        <input nz-input [(ngModel)]="NewPrjWD" name="NewPrjWD" required [disabled]="isSpinning">
      </nz-form-control>
    </nz-form-item>
  </form>
</ng-template>