<nz-row nzType="flex" nzJustify="space-between" nzAlign="middle" style="margin: 6px 0;">
  <nz-row nzType="flex" nzJustify="start">
    <button nz-button>
      <i class="anticon anticon-file-add"></i>新建</button>
    <button nz-button>
      <i class="anticon anticon-folder-open"></i>打开</button>
    <button nz-button>
      <i class="anticon anticon-save"></i>保存</button>
    <button nz-button nz-tooltip nzTitle="所有修改必须提交后才能导出Excel，提交后版本固化，再次编辑需升级版本">
      <i class="anticon anticon-cloud-upload"></i>提交</button>
    <button nz-button nz-tooltip nzTitle="完成主版本升级">
      <i class="anticon anticon-tags"></i>基线</button>
  </nz-row>


<nz-row nzType="flex" nzJustify="start" nzAlign="top">
  <button [disabled]="!paramDS.Editing || !CanAddConf" nz-button nz-popover nzTitle="请输入配置的别名" [nzContent]="AddTrainConfCT" nzTrigger="click" nzPlacement="right" [(nzVisible)]="AddTrainConfCTvisible">
    增加列车配置数目</button>
  <ng-template #AddTrainConfCT>
    <input nz-input placeholder="请输入别名,按回车确认" #configName (keyup.enter)=AddTrainConfCount(configName.value)>
  </ng-template>
  <button [disabled]="!paramDS.Editing || !CanDelConf" nz-button nz-popover nzTitle="选择删除的配置" [nzContent]="DelTrainConfCT" nzTrigger="click" nzPlacement="right" [(nzVisible)]="DelTrainConfCTvisible">
    删除列车配置数目</button>
  <ng-template #DelTrainConfCT>
      <nz-checkbox-group [(ngModel)]="ConfList" #delList></nz-checkbox-group>
      <br>
      <button (click)="DelTrainConf()" nz-button nzType="primary">删除选择的配置</button>
  </ng-template>
</nz-row>

  <nz-row nzType="flex" nzJustify="end">
    <button nz-button (click)="SetEditing()">
      <i class="anticon anticon-edit"></i>编辑</button>
    <button nz-button (click)="CheckInput()">
      <i class="anticon anticon-check"></i>验证</button>
  </nz-row>
</nz-row>