<button ng-if="isMultiConfig" nz-button (click)="AddTrainConfCount()" class="editable-add-btn">
  增加列车配置数目</button>
<nz-table #ParamTable nzBordered [nzData]="Schemtic" nzSize="middle" [nzPageSize]="50">
  <thead>
    <tr>
      <th nzWidth="55px">序号</th>
      <th nzWidth="200px">参数</th>
      <th nzWidth="400px">描述</th>
      <th nzWidth="60px">单位</th>
      <th *ngFor="let c of ConfRange" nzWidth="90px">{{'配置值'+(isMultiConfig? c+1:"")}}</th>
      <th>备注</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let sch of ParamTable.data">
      <!-- 
          <td>
            <div class="editable-cell">
              <div class="editable-cell-text-wrapper">
                <ng-container *ngIf="!editCache[data.key].edit">
                  {{data.name}}
                  <i class="anticon anticon-edit editable-cell-icon" (click)="startEdit(data.key)"></i>
                </ng-container>
                <ng-container *ngIf="editCache[data.key].edit">
                  <input type="text" nz-input [(ngModel)]="editCache[data.key].name">
                  <i class="anticon anticon-check editable-cell-icon-check" (click)="finishEdit(data.key)"></i>
                </ng-container>
              </div>
            </div>
          </td> -->
      <td>{{sch.SeqNo}}</td>
      <td>{{sch.ParmName}}</td>
      <td>{{sch.Desc}}</td>
      <td>{{sch.Uint}}</td>
      <!-- <td *ngFor="let i of ConfRange">176000</td> -->
      <td *ngFor="let i of ConfRange">
        <input [type]="sch.Scole.type" [max]="sch.Scole.max" [min]="sch.Scole.min" [step]="sch.Scole.step" nz-input [(ngModel)]="this.paramDataSet.paramSerial[i].Data[sch.ParmName]">
      </td>
      <!-- <td>
            <nz-popconfirm [nzTitle]="'Sure to delete?'" (nzOnConfirm)="deleteRow(data.key)">
              <a nz-popconfirm>Delete</a>
            </nz-popconfirm>
          </td> -->
    </tr>
  </tbody>
</nz-table>